//Tablets & Smaller
@media (max-width: 800px) {
  #header-home {
    height: 30rem;

    #logo-link {
      margin-bottom: 0;

      #logo {
        font-size: 2rem;
        height: 60px;
        width: 70px;
        margin-bottom: 0;
      }
    }

    .header-content {
      padding-top: 5rem;
      h1 {
        font-size: 2.5rem;
      }
      p.lead {
        margin-bottom: 1rem;
      }
    }
  }

  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw-1"
          "aw-2"
          "aw-3";
      }
    }
    &-d .testimonials {
      grid-template-columns: 1fr;
    }
  }
}

// Smartphones
@media (max-width: 600px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    ul li {
      padding: 1rem;
    }
  }
  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      .header-content {
        display: none;
      }
    }
    &-inner {
      height: 10rem;

      #logo-link {
        margin-bottom: 0;

        #logo {
          font-size: 2rem;
          height: 60px;
          width: 70px;
          margin-bottom: 0;
        }
      }
    }
  }
  // Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  .items,
  #contact-b .contact-info {
    grid-template-columns: 1fr;
  }
  .items {
    gap: 2rem;
  }

  // Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px solid $main-color;
        padding-bottom: 1rem;
        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
    &-b {
      .stats div {
        padding: 1.5rem 0 1rem 0;
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw-1"
          "aw-2"
          "aw-3";
      }

      .bio {
        border-bottom: 3px solid $main-color;
        border-right: 3px solid $main-color;
        border-radius: 3px;
      }
    }

    &-c {
      padding: 0;
      .about-logos {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0;
        img {
          transform: scale(0.5);
          padding: 0;
        }
      }
    }
  }

  // Contact
  #contact {
    &-a {
      margin: 0 auto;
      padding-bottom: 1rem;
      p.lead {
        margin-bottom: 10px;
      }
      .text-fields {
        // margin-top: 10px;
        margin-bottom: 0;
        width: auto;
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
        .message-input {
          height: 100px;
        }
        .recap > div > div {
          transform: scale(0.75);
          transform-origin: 0 0;
        }
      }
      button[type="submit"] {
        margin: 1rem 0;
        // width: 50%;
      }
    }

    &-b {
      padding: 1.3rem 0;
      div {
        // margin-bottom: 1rem;
        border-bottom: 1px solid $main-color;

        &:last-child {
          border: none;
        }
      }
    }

    &-c {
      padding: 2rem 0;
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Footer {
  #main-footer {
    height: 7.5rem;

    .footer-content {
      flex-direction: column;
      height: 7.5rem;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      p {
        padding-bottom: 1rem;
      }
    }
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 0rem;
      h1 {
        font-size: 2.5rem;
      }
      p.lead {
        margin-bottom: 1rem;
      }
    }
  }
}
